.home-container {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .home-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 90%;
  }
}
